@model PostsAndSort

<a asp-route="Profile">Назад</a>
<form>
    <select asp-for="SortMethod">
        <option value="@SortMethods.DateAscending">Сначала старые</option>
        <option value="@SortMethods.DateDescending">Сначала новые</option>
    </select>
    <input type="submit" value="Отсортировать"/>
</form>

<h3>Список постов</h3>
<ul>
    @foreach(Post post in Model.Posts)
    {
        <li>[@post.Date] <br />
            <b>@post.Title</b> <br />
            @post.Description <br /> 
            Автор: 
            @if (post.Author != "Удалённый аккаунт")
            {
                <a asp-controller="Authorized" asp-action="Account" asp-route-name="@post.Author">@post.Author</a>
            }
            else
            {
                <b>[@post.Author]</b>
            }

        </li>
    }
</ul>